<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />

  <div class="login-page">
    <div class="form">
    <p align="center" class="title">Letter of Recommendation</p>
    <% include ./partials/messages %>
    <form  class="login-form" action="/auth/register" method="POST">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Username"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Create Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="Confirm Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
        <button type="submit">Register</button>
    </form>
    <p class="message">Have An Account? <a href="/auth/login">Login</a></p>
    </div>
  </div>
</html>
