@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: linear-gradient(#CC0000, #990000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #990005;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #800002;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #600002;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ffcc22;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.title {
    padding-top: 0px;
    font-family: National;
    font-weight: 200;
    font-style: normal;
    font-size: 36px;
    color: white;
}

.add-btn {
    background-color: #990000;
    color: white;
    cursor: pointer;
    /* display: table-cell; */
    font-size: 15px;
    height: 20px;
    width:180px;
    /* border: 0.1px solid black; */
    position: relative;
    float: right;
    right: 8px;
    padding: 9px 0px 5px;
    text-align: center;
    margin-top: 20px;
}

.add-btn:hover {
    color: #FFCC00;
}

html {
    height: 100%;
}
/*
body {
    background-image: linear-gradient(#CC0000, #990000);
    width: 100%;
    height: 100%;
    color: #FCFCFC;
    margin-top: 220px;
    text-align: center;
}

.title {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
}

.subtitle {
    font-size: 12px;
}

.sign-in-button {
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 8px;
}

.sign-in-button img {
    padding-right: 4px;
    vertical-align: middle;
}

.sign-in-button span {
    font-family: Montserrat;
    font-size: 16px;
    vertical-align: middle;
} */
