.section-header {
    color: #FF473A;
    /*text-align: center;*/
    font-size: 15px;
    width: 200px; 

}

.templates{
    background-color: #FFFFFF;
}

#name-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    width: 100%; 
}

#name-container-text-field {
    flex: 1;

    font-size: 15px;
    line-height: 20px;
    padding: 3px 15px;
    height: 30px;
}

#name-container .text-field {
    /*border: none;*/
    flex: 1;
    margin: 2px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    width: 300px;
    /*text-align: center;*/
    cursor: text;
}

.upload-preview-container {
    /*display: flex;*/

    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    margin: 10px;
}

#letterhead-preview {
    flex-basis: auto;
    /*flex: none;*/
}

#letterhead-upload {
    flex-basis: auto;
}

#template-preview {
    flex-basis: auto;
}

#footer-upload {
    flex-basis: auto;
}

.large-circle-button {
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    height: 20px;
    width:120px;
    border: 0.1px solid black;
    display: block;
    position: absolute; 
    right: 260px;
}

.small-circle-button {
    border-radius: 50%;
    color: black;
    background-color: #FFFFFF;
    /* opacity: 0.6; */
    text-align: center;
    border: 1px solid black;
    font-size: 10px;
    height: 20px;
    width: 20px;
    /* text-decoration: none; */
    cursor: pointer;
    /* display: inline-block; */
    /* position: absolute;  */
    /* right: 0; */
}

.question-button-container{
    position: absolute; 
    height: 10px;
    /* right: 0; */
}

.large-plus-button:hover {
    background-color: rgb(136, 136, 136);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#save-button {
    /*flex-basis: auto;*/
    width: 200px;
    height: 40px;
    background-color: #FF473A;
    /*text-align: center;*/
    font-size: 12px;
    
    border-radius: 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    float: right;
    opacity: 1.0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-transform: uppercase;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: 70px; 
}

#save-button:hover {
    background-color: rgb(248, 61, 47);
    cursor: pointer;
}

#letter-container {
    display: flex;
    width: 100%;
    margin: 30px 30px 20px 30px;
    /*justify-content: center;
    flex-direction: column;
    align-items: center;*/
}

#letter-container #letter-text-area {
    /*margin-top: 50px;    */
    height: 300px;
    /*width: 800px;*/
    flex-basis: auto;
    border: solid black;
    font-size: 13px;
    overflow-y: scroll;
    max-width: 750px; 
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-outer-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.required-checkbox-container {
    flex-basis: auto;
    margin-right: 15px;
    margin-top: 15px;
}

.question-button {
    flex-basis: auto;
    margin-left: 10px;
    margin-top: 12px;
    text-align: right;
}
.question-header{
    font-size: 12px;
}

.question-container {
    font-size: 12px;
    flex: 1;
    width: 700px;
    max-width: 700px;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(80, 80, 80);
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.text-area{
    width: 80%;
    height: 100%;
    /* margin-left: 50px; */
}

/* .question-area{
    position: relative;
    float: left;
} */

.question-container .text-area {
    border: none;
    flex: 1;
    /* margin: 8px 3px; */
    font-size: 13px;
    font-weight: bold;
    height: 15px;
    min-height: 15px;
    resize: vertical;
}

.question-container .text-field {
    border: none;
    flex: 1;
    margin: 2px 3px;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    color: rgb(64, 64, 157);
}

.question-container .text-field::-webkit-input-placeholder {
    color: rgb(64, 64, 157);
}

.question-container .multiple-choices-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.question-container .multiple-choices-container .multiple-choice-container {
    flex: 1;
    border-top: 2px solid rgb(105, 105, 247);
    padding: 0px 10px;

    display: flex;
    flex-direction: row;
}

.question-container .multiple-choices-container .multiple-choice-container .text-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    flex-grow: 1;
}

#add-question-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#add-question-modal .content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#add-question-modal .content h1 {
    color: #EB5757;
    flex-basis: auto;
}

#add-question-modal .content button {
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
    flex: 1;
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
}

#warning-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#warning-modal .content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#warning-modal .content button {
    height: 40px;
    display: block;
    background-color: white;
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

#warning-modal .content h1 {
    color: black;
    flex-basis: auto;
}

.line {
    height: 1px;
    border-top: 1px solid #BDBDBD;
    margin-top: 3px;
}

.error-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
}

.error-column-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 17px;
}

.error-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-box {
    flex-basis: auto;
    position: relative;
    background: #C03737;
    border: 2px solid #BA0404;
    border-radius: 4px;
    opacity: 0.75;
    text-align: center;
}

.arrow-box:after, .arrow-box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
}

.arrow-box:after {
    border-color: rgba(192, 55, 55, 0);
    border-right-color: #C03737;
    border-width: 10px;
    margin-top: -10px;
}

.arrow-box:before {
    border-color: rgba(186, 4, 4, 0);
    border-right-color: #BA0404;
    border-width: 13px;
    margin-top: -13px;
}

.arrow-text {
    color: white;
    font-size: xx-small;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.fill {
    align-self: start;
    padding-right: 17px;
}

.error {
    box-shadow: 0 0 4px 3px rgb(245, 0, 0);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(192, 55, 55, 1);
}

.tag {
    color: white;
    background-color: lawngreen;
    font-weight: bolder;
    border-radius: 0.2em;
    box-shadow: 1.5px 1.5px 2px #b9b9b9;
}

.tag-unknown {
    color: white;
    background-color: red;
    font-weight: bolder;
    border-radius: 0.2em;
    box-shadow: 1.5px 1.5px 2px #b9b9b9;
}

/* question */
.icon-effects {
    opacity: 0.5;
    transition: 0.4s;
    float:left;
}

.icon-effects:hover {
    opacity: 1.0;
    cursor: pointer;
}

#template-editor-container {
    margin: 5px 20px 50px;
}

#letter-boilerplate {
    /*margin-top: 75px;
    margin-bottom: 20px;*/
    /*margin: 70px 30px 30px 30px;*/
}

#custom-questions {
    /*margin-top: 75px;*/
    margin: 30px 30px 30px 30px; 
}

#upload-letterhead, #upload-template {
    /*margin-top: 50px;*/
    /*float: left;*/ 
}

.option-cont {
    opacity: 1.0;
    transition: 0.4s;
}

.option-cont:hover {
    opacity: 0.5;
    cursor: pointer;
}

.inline-block {
    display:inline-block;
    margin-right: 10px;
}

#tag-container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    align-items: center;
}

.tag-button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    display: inline-block;
    border-radius: 4px;
    padding: 3px;
    margin:5px;
}

.tag-button:hover {
    background-color: #f44336;
    color: white;
}

/* Question for Tag appear when hovering above the Tag buttons */
.popup .popup-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    margin-left: -100px;
    margin-top: 5px;
}

.popup:hover .popup-text {
    visibility: visible;
}


.flex1 {
    flex: 1; 
}

.flex-display {
    display: flex; 
}

.upload-cont, .all-tags-cont {
    margin: 10px 30px;
}

#letter-boilerplate-cont {

}

#tags-heading {
    font-weight: bold; 
}

#tmp-editor-cont {
    padding-bottom: 30px; 
}

#tags-heading-main {

}